%meta{:content => @artist.fullname, :property => "og:title"}/
%meta{:content => "author", :property => "og:type"}/
%meta{:content => "http://www.pictorical.com/artists/#{@artist.to_param}", :property => "og:url"}/
%meta{:content => @artist.photo280.url, :property => "og:image"}/
%meta{:content => "Pictorical", :property => "og:site_name"}/
