#hola_victor{:style => "width:950px"}
  - if @candidates.any?
    %table
      %tr
        %td
          %strong Id
        %td
          %strong Name
        %td
          %strong Email
        %td
          %strong Country
        %td
          %strong Portfolio
        %td
          %strong Token
        %td
          %strong Referral
        %td
          %strong Http Referer
        %td
          %strong Delete?
      = render :partial => 'candidate', :collection => @candidates
    