body,html {
background: #eaeaea;
font: 12px "Lucida Grande","Trebuchet MS",Verdana,sans-serif;
}
#wrap {
width: 960px;
margin: 0 auto;
}
#header {
height: 30px;
padding-top: 10px;
}
#header h1 {
font: 24px "Georgia","Trebuchet MS",Verdana,sans-serif;
}
#main {
float: right;
width: 660px;
background: white;
}
#main .inner {
padding-top: 30px;
}
#sidebar {
float: left;
width: 280px;
margin-right: 20px;
}
#footer {
clear: both;
}
#title {
margin: 50px auto;
text-align: center;
}
#title h1 {
font: normal normal normal 60px/normal Georgia,sans-serif;
text-shadow: white 0px 1px 0px;
}
#title strong {
font-weight: normal;
color: #990015;
}
#sidebar .item {
margin-bottom: 30px;
}
#sidebar .balloon {
padding: 15px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
font: normal normal normal 14px/150% "Century Gothic","Lucida Grande",Arial,sans-serif;
}
#sidebar .balloon h2 {
font-size: 160%;
margin-bottom: 15px;
}
#sidebar .tail {
height: 30px;
width: 280px;
overflow: hidden;
}
#sidebar .blue {
background: #95cbe9;
}
.c0 {
background: #95cbe9;
}
#sidebar .green,.c1 {
background: #afd775;
}
#sidebar .pink,.c2 {
background: #de9d7f;
}
#sidebar .yellow,.c3 {
background: #efd279;
}
#sidebar .white {
background: white;
}
#sidebar .dark {
background: #333333;
color: white;
}
#sidebar .darkred {
background: #820012;
color: white;
}
#sidebar .dark a {
color: white;
}
#bar .darkred a {
color: white;
}
.book {
margin-left: 30px;
margin-bottom: 30px;
width: 180px;
font: 12px "Lucida Grande","Trebuchet MS",Verdana,sans-serif;
line-height: 150%;
display: inline-block;
}
.book .cover {
width: 180px;
height: 291px;
margin-bottom: 5px;
}
a {
color: #1d4f99;
text-decoration: none;
}
a:visited {
color: #1d4f99;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active {
position: relative;
top: 1px;
}
#header #logo {
float: left;
width: 100px;
}
#header #nav {
float: right;
width: 300px;
text-align: right;
font: 16px "Lucida Grande","Trebuchet MS",Verdana,sans-serif;
}
#footer {
width: 100%;
color: #333333;
text-align: center;
}
#footer .inner {
padding: 20px 0px;
}
#sheet .ipad {
background-image: url("../images/ipad-vertical-empty.png");
width: 660px;
height: 844px;
position: relative;
margin-bottom: 30px;
}
#sheet .ipad .screen img {
width: 514px;
height: 685px;
}
#sheet .buy {
font: 20px Museo,sans-serif;
font-weight: normal;
line-height: 100%;
margin: 0;
margin-bottom: 20px;
text-shadow: white 0px 1px 0px;
}
#sheet .buy img {
margin: 0;
}
#sheet .buy .search {
height: 43px;
background-image: url("../images/ibooks-search-2.png");
display: inline-block;
text-align: left;
overflow: hidden;
text-shadow: none;
}
#sheet .buy .search .search-text {
font: 14px Helvetica,Arial,sans-serif;
position: relative;
top: -16px;
}
#sheet .ipad .screen {
width: 514px;
height: 684px;
position: absolute;
left: 73px;
top: 80px;
}
