/*
Syntax error: Indenting at the beginning of the document is illegal.
        on line 1 of app/stylesheets/qwer.sass

1:   a
2:     text-decoration: none
3:     color: black
4:     &:link, &:visited, &:active
5:       text-decoration: none
6:       color: black

Backtrace:
app/stylesheets/qwer.sass:1
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:258:in `tabulate'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin/staleness_checker.rb:86:in `each_with_index'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:240:in `each_with_index'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:240:in `tabulate'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:216:in `_to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:179:in `to_tree'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/files.rb:44:in `tree_for'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/local/lib/ruby/gems/1.8/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/local/lib/ruby/gems/1.8/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/local/lib/ruby/gems/1.8/gems/dragonfly-0.8.1/lib/dragonfly/middleware.rb:16:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:129:in `forward'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:235:in `fetch'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:178:in `lookup'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:65:in `call!'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:50:in `call'
/opt/local/lib/ruby/gems/1.8/gems/dragonfly-0.8.1/lib/dragonfly/middleware.rb:16:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:129:in `forward'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:235:in `fetch'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:178:in `lookup'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:65:in `call!'
/opt/local/lib/ruby/gems/1.8/gems/rack-cache-0.5.3/lib/rack/cache/context.rb:50:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/local/lib/ruby/gems/1.8/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:77:in `send'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/application.rb:77:in `method_missing'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/rack/log_tailer.rb:14:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/opt/local/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/opt/local/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/opt/local/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/opt/local/lib/ruby/1.8/webrick/server.rb:162:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/opt/local/lib/ruby/1.8/webrick/server.rb:95:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:92:in `each'
/opt/local/lib/ruby/1.8/webrick/server.rb:92:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:23:in `start'
/opt/local/lib/ruby/1.8/webrick/server.rb:82:in `start'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/opt/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands/server.rb:65:in `start'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:30
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:27:in `tap'
/opt/local/lib/ruby/gems/1.8/gems/railties-3.0.3/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Indenting at the beginning of the document is illegal.\A         on line 1 of app/stylesheets/qwer.sass\A \A 1:   a\A 2:     text-decoration: none\A 3:     color: black\A 4:     &:link, &:visited, &:active\A 5:       text-decoration: none\A 6:       color: black"; }
