2011 © Pictorical Ltd, registered in England #07290547

= link_to "Legal", legal_path
%br
And what is the use of a book &mdash;thought Alice&mdash; without pictures or conversations?

= render '/shared/zendesk'
= render '/shared/clicky' unless local_request?