%table.top{:border => "0", :width => "100%"}
  %tr
    %td{:valign => "top"}
      %h1= link_to RefinerySetting.get(:site_name), root_url(:only_path => true)
      %td.navbar{:valign => "middle"}
        = link_to "Answers", "#"
        ·
        =link_to "Contact", "#"
        &nbsp;
        = facebooklike('/','margin-right: -61px').html_safe
