#logo
  %h1= link_to image_tag "logo-small.png" #, root_url(:only_path => true)
  #nav
    = link_to "Answers", "#" #- TODO: Answers page
    ·
    = link_to "Contact", "#" #- TODO: Contact page
    &nbsp;
    = facebooklike( '/', 'margin-right: -61px' ).html_safe