- unless refinery_user?
  :javascript
    var hs_portalid=103440;
    var hs_salog_version = "2.00";
    var hs_ppa = "pictorical.app10.hubspot.com";
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
