.topbarcontainer
  #topbar
    .inner
      = link_to "http://joinpictorical.com/" do
        %b Artists:
        Illustrate books with Pictorical, be published worldwide and earn half of the profits.
        %b Apply now,
        it takes 30 seconds.
