.item
  .balloon.dark
    %h1.thin{:style => "font-size: 230%; margin-bottom: 20px"}
      Read stories
      %br
      Support new artists
    %h1.thin
      Buy our ebooks for just $0.99 in the Apple iBookstore.
    %h1.thin
      Artists get half of the profits.
  .tail.dark
    %img{:src => "images/tail.png"}
  .ipad
    = image_tag "ipad-iphone.png"
    Available for iPad and iPhone in the iBookstore
  .item
    .balloon.darkred
      %h1.thin{:style => "font-size: 230%; margin-bottom: 20px"}
        Artists:
        = succeed "Illustrate" do
          %br
        a story
      %h1.thin
        Hundreds of stories for all ages to choose from.
      %h1.thin
        Get half of the profits, monthly.
      %p{:style => "padding-top: 10px; border-top: 2px dashed #57000C"}
        Interested? Follow us in
        %a.underline{:href => "http://www.facebook.com/Pictorical"} Facebook
        and
        %a.underline{:href => "http://www.twitter.com/Pictorical"} Twitter
        and we will tell you as soon as we start receiving new applications.
  .item
    .balloon.yellow
      %h2
        Things that happen
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .tail.yellow
      %img{:src => "images/tail.png"}
    %h1
      Pictorical Blog
  .item
    .balloon.blue
      .tweet
    .tail.blue
      %img{:src => "images/tail.png"}
    %h1
      %img{:src => "images/Twitter.png", :valign => "middle"}
  .item
    .balloon.white
      .facebookbox
        %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?id=10132730138&amp;width=260&amp;connections=10&amp;stream=false&amp;header=false&amp;height=255", :style => "border:none; overflow:hidden; width:260px; height:232px; background: white;"}
    .tail.white
      %img{:src => "images/tail.png"}
    %h1
      %img{:src => "images/Facebook.png", :valign => "middle"}