%meta{:content => "Pictorical", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.pictorical.com", :property => "og:url"}/
%meta{:content => "Pictorical", :property => "og:site_name"}/
