- content_for :title do
  About Pictorical

.serif

  %h2.serif
    What is the use of a book without pictures or conversations?
    .small
      Alice in Wonderland
  .inner

  <p>Pictorical publishes the world’s greatest stories illustrated by the world’s most promising artists. Our mission is to enhance the storytelling experience and give artists the rare opportunity to earn a living doing what they love: art.</p>

  <p>Our artists give these classic and beloved stories new life and dimension with their original illustrations. </p>

  <p>Our readers support young, emerging artists from around the world, promoting lively conversations about books, art & culture.</p>

  <p>Pictorical gives readers and artist new ways to discover and enjoy the stories that have moved, inspired, and transformed the world we live in, connecting us to peoples and cultures near and far.</p>

  <p>Pictorical was created in January 2011 by Victor Perl and Mauko Quiroga, two storytelling and art lovers from Chile. Our books are illustrated by artists worldwide, published in the Apple iBookstore for the iPad, and sold in the United States, United Kingdom, Canada, Australia, France and Germany.</p>

  <p>We are based in England, but we are a nomad company. We believe in the preservation and creation of art and culture through the magic of storytelling, and the beauty inherent in language and art.</p>