- content_for :title do
  Frequently Asked Questions

.serif

  %h2.serif
    Your Questions Answered
  .inner

  %h3
    What is Pictorial?

  %p
    We are a new company that publishes the world’s greatest stories crowd-illustrated by the world’s most promising artists.

  %h3
    What does crowd-illustrated mean?

  %p
    Instead of having an office with a dozen of illustrators, we have an active, open and global community of talented, emerging artists, our "crowd." We invite artists from all over the world to join this community and work with us.

  %h3
    What does the artist get?

  %p
    Artists earn half of the profits from the sales of their books. This is the most generous offer we have found in the publishing industry for illustrators, who often receive a fixed price per job with no share in the success of their books. Many artists have multiple jobs to earn a living – many are waiters and waitresses, bartenders, janitors, educators, and office assistants. The notion of the “starving artist” is very real. We believe artists should make a living making art, and Pictorial offers them this opportunity. So when you buy a book in Pictorial, you are directly supporting talented, emerging artists.

  %h3
    What do you mean by “emerging” artists?

  %p
    An emerging artist is someone who is not well-known among the larger, general public. She or he is not famous, but most likely has received some recognition within her own community. She may have shown her work in a gallery, and if very lucky, sold a piece or two. In other words, an emerging artist is someone who is struggling like all of us, to make a living, while pursuing his art.


  %h3
    How can I buy the books?

  %p
    If you have an iPad, you can buy our books in the iBookstore by searching for Pictorical. Currently the iBookstore is open in the US, UK, Canada, Australia, France and Germany. We are working hard to bring these beautiful illustrated books to more countries and platforms.
    = link_to "Follow us in Facebook", "http://facebook.com/Pictorical"
    and we will keep you updated.

  %h3
    Can I read the books before I buy?

  %p
    Yes, just go to Pictorical.com and browse our published books. We offer several pages as a preview.

  %h3
    How much are the books?

  %p
    Our books start from 0.99 US Dollars, Canadian Dollars, Australian Dollars, British Pounds and Euros.

  %h3
    Who is Pictorical?

  %p
    We are thousand of readers from all over the world, many artists from more than 20 countries, a handful of designers and literature experts, and two storytelling and art lovers from Chile, Victor Perl and Mauko Quiroga. Y nuestros lectores también son/pueden ser parte de Pictorical, como movimiento.


  %h3
    Where is Pictorical based?

  %p
    Pictorical is company registered in England, but we don't have a brick and mortar office. We are a nomad company, and travel around the world to meet our readers and artists.

  %h3
    How can I contact you?
  %p
    Write us at
    = mail_to "hello@pictorical.com", "hello@pictorical.com", :encode => "javascript"
    
  %h3
    Can't find the answer to your question?
  %p
    Please write to us at
    = mail_to "questions@pictorical.com", "questions@pictorical.com", :encode => "javascript"
    and we will get back to you shortly.