= render :partial => "love"
%table.page
  %tr
    %td.left{:valign => "top"}
      #bar
        = render :partial => "bar"
    %td.right{:valign => "top"}
      #sheet
        = render :partial => "sheet"