%p
  We have closed the applications (for now).
%p
  Please follow us in
  = link_to "Twitter", "http://twitter.com/pictorical"
  and like us in
  = link_to "Facebook", "http://facebook.com/pictorical"
  to know when we start receiving applications again.