-if @candidate.errors.any?
  :javascript
    window.location = window.location.href + "#form";
  #error_explanation
    %ul
      - @candidate.errors.full_messages.each do |msg|
        %li= msg

-#= redirect_to share_candidate_path @candidate[:token]
