%meta{:content => @writer.fullname, :property => "og:title"}/
%meta{:content => "author", :property => "og:type"}/
%meta{:content => "http://www.pictorical.com/writers/#{@writer.to_param}", :property => "og:url"}/
%meta{:content => @writer.photo280.url, :property => "og:image"}/
%meta{:content => "Pictorical", :property => "og:site_name"}/
