%meta{:content => @story.title, :property => "og:title"}/
%meta{:content => "book", :property => "og:type"}/
%meta{:content => "http://www.pictorical.com/stories/#{@story.to_param}", :property => "og:url"}/
%meta{:content => @story.cover280.url, :property => "og:image"}/
%meta{:content => "Pictorical", :property => "og:site_name"}/
